# Ignoring
src/tests/pytest/src/tests/venv
src/tests/pytest/src/tests/.pytest_cache
src/tests/pytest/src/tests/app/__pycache__
src/tests/robot/src/tests/venv
src/dev/app/__pycache__/
.gitignore.swp
.git
.idea
.pytest_cachesrc
src/dev/__pycache__/
flask-service/venv
